
body{
  font-size: 40px;
  background-color: maroon;
  margin: 2;
  text-align: center;
}
h1{
  font-size: 2rem;
}
a:link, a:visited {
  color: black;
}
a:hover {
  color: black;
}
li{
  font-size: 2rem;
  margin-bottom:10px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
