*{
  box-sizing: border-box;
}

body {
  margin: 0;
}
main{


}
div{
  width: 150px;
  height: 150px;
  background-color: purple;
  margin: 25px;
  float: left;
}
.shape2 {
  width: 100;
  height: 75;
  background-color: orange;
  margin: 50px 20px;

}
.shape3{
  width: 200px;
  height: 200px;
  background-color: hotpink;
  margin: 4px;
  float: left;
  border-radius: 50%;
}
.shape4{
  width: 50px;
  height: 90px;
  border-color: maroon;
  margin: -56px -39px;
  float: left;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}
.shape5{
  width: 4;
  height: 10;
  background-color: green;
  margin: 30px;
  float: left;
  transform: skew(20deg);
}
