*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  font-size: 30px;
  font-family: 'Sansita Swashed', cursive;
  text-align: center;
}
h1{
  font-size: 50px;
  color: white;
}
a:link, a:visited {
  color: white;
}
a:hover {
  color: mediumspringgreen;
}
main{

}
div{
  width: 150px;
  height: 150px;
  background-color: blueviolet;
  margin: 25px;
  float: left;
}
.shape2 {
  width: 100;
  height: 75;
  background-color: orange;
  margin: 50px 20px;

}
.shape3{
  width: 200px;
  height: 200px;
  background-color: hotpink;
  margin: 4px;
  float: left;
  border-radius: 50%;
}
.shape4{
  width: 50px;
  height: 90px;
  border-color: chartreuse;
  margin: -56px -39px;
  float: left;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}
.shape5{
  width: 4;
  height: 10;
  background-color: cornflowerblue;
  margin: 30px;
  float: left;
  transform: skew(20deg);
}
.shape6{
  width: 0;
  height: 0;
  background-color: blue;
  border: 50px solid transparent;
  border-bottom: 20px solid blue;
  margin: 68px;
  float: inherit;
  position: relative;
  top: -50px;
}
.shape7{
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid red;
  border-left: 60px solid red;
  border-bottom: 60px solid red;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: crimson;
}
