*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  font-size: 30px;
  font-family: 'Sansita Swashed', cursive;
  text-align: center;
}
h1{
  font-size: 50px;
  color: white;
}
a:link, a:visited {
  color: white;
}
a:hover {
  color: mediumspringgreen;
}


.board{
  width: 900px;
  background-color: white;
  padding: 50px;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
}
.blue, .red{
  width: 100px;
  height: 100px;
  float: left;
}
.blue{
  background-color: darkblue;
}
.red{
  background-color: crimson;
}


.layout{
  width: 1000px;
  background-color: white;
  padding: 50px;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
}
.header{
  width: 1000px;
  height: 150px;
  margin: 25px;
  float: left;
  background-color: blueviolet;
}
.subheading{
  width: 1000px;
  height: 50px;
  padding: 10px;
  float: left;
  margin: 25px;
  background-color: blueviolet;
}
.column{
  width: 300px;
  height: 500px;
  margin-top: 25;
  margin-bottom: 25;
  margin-left: 25px;
  margin-right: 25;
  float: left;
  background-color: blueviolet
}
