*{
  box-sizing:border-box;
}
body{
  background-image: url("../images/1.jpeg");
  background-position: center;
  background-size: auto;
  margin: 0;
  align-content: center;
}
img{
  width: 100%;
}
header{
  padding: 50px;
}
h1{
  font-family: 'Metal Mania', cursive;
  font-size: 200px;
  color: darkred;
  text-align: center;
  margin-top: 300px;
  text-shadow: 7px 7px 10px darkturquoise;
}
a:link, a:visited {
  color: darkturquoise;
  text-decoration: none;
}
a:hover {
  color: greenyellow;
  text-decoration: underline;
}
nav{
  float: right;
}
.title{
  float: left;
  font-size: 25px;
  color: darkturquoise;
  margin: 0;
  font-family: 'Denk One', sans-serif;
  text-shadow: 4px 4px 7px darkred;
}
.title p{
  margin: 0;
  font-size: 40px;
  color: darkturquoise;
  font-family: 'Denk One', sans-serif;
  text-shadow: 4px 4px 7px darkred;
}
.hero{
  background: url(../img/1.jpeg) no-repeat center center;
  background-size: cover;
  pagging: 300px 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li{
  font-size: 40px;
  color: darkturquoise;
  float: left;
  margin-left: 25px;
  font-family: 'Denk One', sans-serif;
  text-shadow: 24px 4px 7px darkred;
}
div{
  font-size: 40px;
  color: darkturquoise;
  margin: 0;
  font-family: 'Denk One', sans-serif;
  text-shadow: 4px 4px 7px darkred;
}
